
.media{
    background: white;
}

.media img{
    max-width: 170px;
}

.media:hover{
    background: rgb(233, 232, 232);
}

.media-body h4{
    text-transform: uppercase;
    font-family: Times New Roman;
}

.media-body #title:hover{
    color: red;
}

.media-body #title{
    text-decoration: none;
    color: rgb(24, 136, 211);
}

.media-body small img{
    max-width: 25px;
}

.media-body strong{
    color: red;
}

.media-body small{
    font-weight: 500;
}

.media-body .btn_edit{
    margin-left: 580px;
}

@media screen and (max-width: 600px) {
    .media img{
        max-width: 50px;
    }

    .media-body h4{
        font-size: 10px;
    }

    .media-body small,strong{
        font-size: 8px;
    }

    .media-body p{
        font-size: 8px;
        text-align: justify;
    }

    .media-body small img{
        max-width: 15px;
    }

    .media-body .badge-primary{
        font-size: 8px;
    }

    .media-body .btn_function{
        font-size: 10px;
        padding: 6px;
    }

    .media-body .btn_edit{
        margin-left: 50px;
    }
}
