    .nav-pills .nav-item {
      margin-top:10px
    }
    .nav-pills .nav-item .active{
      background-color: #dd3420;
    }
    .nav-pills .nav-item .active:hover{
      background-color: #E94B3C;color:#EADEDB;
    }
    .navbar-nav .nav-item .nav-link{
      color: white;
    }
    /* ========================= */
    /* Footer */
    @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
    section {
        padding: 10px 0;margin-top:15px;
    }

    section .section-title {
        text-align: center;
        color: #E94B3C;
        margin-bottom: 50px;
        text-transform: uppercase;
    }
    #footer {
        background: white !important;
    }
    #footer h5{
      padding-left: 10px;
      border-left: 3px solid #eeeeee;
      padding-bottom: 6px;
      margin-bottom: 20px;
      color:#E94B3C;
    }
    #footer a {
        color: #E94B3C;
        text-decoration: none !important;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }
    #footer ul.social li{
      padding: 3px 0;
    }
    #footer ul.social li a i {
        margin-right: 5px;
      font-size:25px;
      -webkit-transition: .5s all ease;
      -moz-transition: .5s all ease;
      transition: .5s all ease;
    }
    #footer ul.social li:hover a i {
      font-size:30px;
      margin-top:-10px;
    }
    #footer ul.social li a,
    #footer ul.quick-links li a{
      color:#E94B3C;
    }
    #footer ul.social li a:hover{
      color:red;
    }
    #footer ul.quick-links li{
      padding: 3px 0;
      -webkit-transition: .5s all ease;
      -moz-transition: .5s all ease;
      transition: .5s all ease;
    }
    #footer ul.quick-links li:hover{
      padding: 3px 0;
      margin-left:5px;
      font-weight:700;
    }
    #footer ul.quick-links li a i{
      margin-right: 5px;
    }
    #footer ul.quick-links li:hover a i {
        font-weight: 700;
    }
    .form-reponsive{
      display: none;
    }
    .res-login{
      display: none;
    }
    .moblie{
      display: none;
    }
    .media:hover{
      background-color:#ffe6e6;
      border-radius:5px;
    }
    .user-icon:hover{
      background-color:white;
    }
    .user-icon{
      background-color:white;
    }

    .media{
      padding-top:14px;
      padding-left:14px;
    }
    /* ======================================================= */
    .breadcrumb{
      background-color:white;
      margin-top:15px;
    }
    
    
    /* ======================================================= */
    /* profile-user */
    .card .card-body .row .col-md-2 img{
      max-width:100%;height:100px;
      margin:10px;
    }
    .card .card-body .row .col-md-10{
      padding:12px;
    }
    .card .card-body .row .col-md-10 .row .col-12{
      color:black;
    }
    .card .card-body .row .col-md-10 h5{
      color:black;
    }
    .card .card-body .list{
      margin:5px;
    }
    .card .card-body .list:hover{
      background-color:#f8dfe1;
      margin:5px;
      border-radius:3px;
    }
    /* profile-user */
    /* ======================================================= */
    
    .card-body .row .col-4 a{
      padding:5px;
    }

    section .container .row .col-12 p{
      color: #E94B3C;font-size:14px;
    }
    .container-index{
      margin-top:70px;padding:5px;
    }
  

    @media (max-width:600px){

      /* ======================================================= */
      /* profile-user */
      .card .card-body .row .col-4{
        padding:10px;
        padding-top:1px;
      }
      .card .card-body .row .col-8{
        padding:10px;padding-left:1px;
      }
      .card .card-body .row .col-4 img{
        width:80px;height:60px;
      }
      
      .card .card-body .row .col-8 .row .col-12{
        color:black;
        font-size:10px;
      }
      .card .card-body .row .col-8 h5{
        color:black;
        font-size:10px;
      }
      /* profile-user */
      /* ======================================================= */


      /* ======================================= */
      .container-index{
        margin-top:50px;
      }

      section .container .row .col-12 p{
        color: #E94B3C;font-size:12px;
        text-align:justify-all;
      }

      .list-new-user .rounded{
        max-width:100%;height:80px;
      }

      .list-new-user .media-body h5{
        font-size:12px;
        color:black;
      }
      
      .card .card-body .list-new-user .media-body .row .col-12{
        font-size:10px;
      }

      .clearfix .float-right .btn-outline-danger{
        font-size:11px;
        margin-bottom:5px;
      }
      .clearfix .float-right .button-post-new{
        font-size:13px;
      }

      #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
      }
      .form-reponsive{
        display: inline;
      }
      .register-login{
        display: none;
      }
      .res-login{
        display: inline;
      }
      .form-search{
        display: none;
      }
      .form-search{
        display: none;
      }
      .desktop{
        display: none;
      }
      .moblie{
        display:block;
        border:1px solid #dd3420;margin-bottom:10px;margin-top:2px;
      }

      /*=========================================*/
      .container .card .card-body .card-title b{
        font-size:18px;
      }
      .container .card .card-body .card-text{
        font-size:12px;
      }


      /*=========================================*/
      .category-mobile .card-body .row .col-6{
        font-size:11px;margin-bottom:10px;
      }
      .search-quick{
        display:none;
      }
      .breadcrumb-mobile{
        font-size:11px;padding:10px;
        margin-top:0px;
      }
    
      .card-body .row .col-12 a .media .media-body b{
        font-size:13px;
      }
      .media{
        padding-top:13px;
        padding-left:13px;
      }
      .p-text{
        font-size:10px;
      }
      .post-new .card-header .b-text{
        color:red;font-size:15px;
        text-transform: uppercase;
      }
      .post-new .card-header .b-text .fa-newspaper{
        font-size:17px;
      }

      /* =========================================== */
      /* Đăng tin theo danh mục */
      .post-new-category .card-header .b_text{
        font-size:15px;
      }
      .post-new-category .card-header .b_text .arrow-up{
        font-size:16px;
      }
     
      /* Đăng tin theo danh mục */
      /* =========================================== */
      
      .footer .container .row .col-12 .list-unstyled{
        margin-left:50px;
      }
      /* ================================ */
      .navbar-mobile .navbar-brand .image-logo{
        max-width:100%;height:30px;padding:1px;
      }
      .form-reponsive .input-search{
        max-width:97%;border:none;margin-top:15px;
      }
      .text-left h4{
        font-size:16px;
      }
      .text-left h5{
        font-size:13px;
      }
      .card .card-body .row .col-12 p{
        font-size:12px;
      }
      .card .card-body .row .col-12 .list-info{
        font-size:13px;
      }
      .card .card-body .row .col-12 .contact-info h5{
        font-size:15px;
      }
      .card .card-body .row .col-12 .social h5{
        font-size:15px;
      }
      .card .card-body .row .col-12 .social .text-left a img{
        max-width:100%;height:30px;
      }
      .card .card-body .row .col-12 .contact-info .p_contact{
        font-size:13px;
      }


      /* ==================================== */
      .media .media-body h5{
        font-size:12px;
      }
      .media .media-body p{
        font-size:10px;
        margin-bottom:10px;
      }
      .media .media-body{
        padding-top:15px;
      }

      /* ================================================ */
      /* Trang view category */
      .post-new .card-body .row .col-12 a .media .align-self-start{
        max-width:100%;height:60px;
        margin-top:5px;
      }
      .post-new .card-body .row .col-12 a .media{
        padding:0px;
      }

      .post-new .card-body .row .col-12 a .media .media-body{
        padding-top:0px;
        padding-bottom:0px;
      }
      .post-new .card-body .row .col-12 a .media .media-body b{
        font-size:12px;
        text-align:justify;
      }
      .post-new .card-body .row .col-12 a .media .media-body p{
        font-size:10px;
      }
      /* Trang view category */


      /* Tin rao bán tương tự */
      .media .media-body .b-title-mobile{
        font-size:12px;
      }
      .media .media-body .p-text-mobile{
        font-size:11px;
      }
      .card-body a .media img{
        max-width:100%;
        height:50px;
        border-radius:5px;
        margin-top:8px;
      }
      .card-body a .media{
        padding:0px 8px;
      }
      /* Tin rao bán tương tự */
    }




    /* ================================= */
    .media .media-body{
      padding-top:13px;
    }
    .user-icon-profile:hover {
      background-color:white;
    }

    /* Tin rao bán tương tự */
    .card-body a{
      text-decoration:none;
    }
    .media .media-body .b-title{
      font-size:13px;
      color:#ff3333;
    }
    .media .media-body .p-text-content{
      font-size:11px;
      color:black;
    }
    .media .media-body{
      padding-top:0px;
    }
    .card-body a .media img{
      max-width:100%;
      height:70px;
      border-radius:5px;
      margin-top:8px;
    }
    .card-body a .media{
      padding:0px 8px;
    }
    /* Tin rao bán tương tự */



    /*=======================================*/
    /* Trang view category */
    .post-new .card-body .row .col-12 a .media img{
      max-width:100%;height:80px;border-radius:5px;
      margin-top:2px;
    }
    .post-new .card-body .row .col-12 a .media{
      padding:10px;
    }
    .post-new .card-body .row .col-12 a .media .media-body{
        padding-top:0px;
        padding-bottom:0px;
    }

    .post-new .card-header b{
      color:red;font-size:25px;
    }
    .post-new-category .card-header b{
      color:red;font-size:25px;
    }
    .p-text{
      color:black;font-size:12px;
    }
    .arrow-up{
      font-size:28px;
    }
    .fa-newspaper{
      font-size:25px;
    }
    /* Trang view category */




    /* ================================= */
    .navbar-mobile .navbar-brand img{
      max-width:100%;height:45px;padding:1px;
    }
    
    /* ============================================== */
    /* Chia sẻ tin đăng này cho bạn bè */
    .social .text-left a .img-social{
      max-width:100%;height:50px;margin-right:10px;
    }
    /* Chia sẻ tin đăng này cho bạn bè */
    /* ============================================== */




    